﻿@using System.Collections
@using Bars.B4.Application
@using Bars.B4.Utils
@using Bars.B4
@section HeadContent {
    <!-- ** CSS ** -->
    <link href="@Url.Content("~/content/css/rmslogin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/B4.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/flexdesk-login.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <script type="text/javascript">
        rootUrl = '@(Request.ApplicationPath.EndsWith("/") ? this.Request.ApplicationPath : (this.Request.ApplicationPath + "/"))';
        isDebug = @ApplicationContext.Current.IsDebug.ToString().ToLower();
    </script>
    <script type="text/javascript" src="@Url.Content("~/scripts/public/ThemeManager.js")"></script>
    <script type="text/javascript">

        B4ThemeManager.init();
        B4ThemeManager.documentReload = true;
    </script>
}
@{
    AuthenticationResult authResult = (ViewData["result"] != null)
                                          ? (AuthenticationResult)ViewData["result"]
                                          : new AuthenticationResult { UserName = "", Error = "" };
}
<div class="wrapper">
    <div class="main-container">
        <div class="container">
            <div class="header">
                <span class="title">@ViewData["Title"]</span>
                <span data-title="@ViewData["Title"]"></span>
            </div>
            <form id="onboard_form" method="post" action="">
                <div class="content">
                    <div class="input-holder" style="">
                        <label for="login" style="float: none;">Логин</label>
                        <input type="text" id="login" name="login" value="" />
                    </div>
                    <div class="input-holder" style="">
                        <label for="password" style="float: none;">Пароль</label>
                        <input type="password" id="password" name="password" value="" />
                    </div>
                    <div class="login-footer">
                        <input name="commit" value="Войти" type="submit" class="btn" />
                        
                    </div>
                </div>
            </form>
        </div><!-- .wrapper -->
        <div class="container container-error" style="
                                                @if (string.IsNullOrEmpty(authResult.Error)) {
                                                    @:display: none;
                                                }
                                            ">
            @(string.IsNullOrEmpty(authResult.Error) ? "" : authResult.Error)
        </div>
    </div>
</div>
