﻿.wrapper .main-container {
    position: absolute;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.wrapper .container {
    height: auto;
    background: none;
    background-color: rgba(44, 89, 147, 0.7);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    margin-top: 0px;
    padding: 10px;
}

    .wrapper .container .header {
        padding: 15px 25px 5px;
        text-align: center;
        position: relative;
        overflow: hidden;
        width: auto;
        height: auto !important;
    }

        .wrapper .container .header .title {
            vertical-align: middle;
            margin: 5px 0 0 -10px;
            font-size: 24pt;
            color: whitesmoke;
            height: auto !important;
        }

    .wrapper .container .login-footer {
        margin-bottom: 20px;
        text-align: center;
    }

.wrapper .container-error {
    margin-top: 20px;
    height: auto;
    background-color: rgba(132, 20, 3, 0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
    color: whitesmoke;
    padding: 15px;
    font-size: 12pt;
}

.container .content .input-holder label {
    color: white;
}
